<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Talk-Translator</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.3</string>
	<key>CFBundleVersion</key>
	<string>22</string>
	<key>GoogleADUnitID</key>
	<dict>
		<key>FullAd</key>
		<string>ca-app-pub-9684378399371172/1814946844</string>
		<key>RewardAd</key>
		<string>ca-app-pub-9684378399371172/7656598281</string>
		<key>TableBanner</key>
		<string>ca-app-pub-9684378399371172/7215773643</string>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<dict>
				<key>NSExtensionActivationDictionaryVersion</key>
				<integer>2</integer>
				<key>NSExtensionActivationSupportsAttachmentsWithMaxCount</key>
				<integer>100</integer>
				<key>NSExtensionActivationSupportsAttachmentsWithMinCount</key>
				<integer>0</integer>
				<key>NSExtensionActivationSupportsFileWithMaxCount</key>
				<integer>100</integer>
				<key>NSExtensionActivationSupportsImageWithMaxCount</key>
				<integer>100</integer>
				<key>NSExtensionActivationSupportsMovieWithMaxCount</key>
				<integer>100</integer>
				<key>NSExtensionActivationSupportsText</key>
				<true/>
				<key>NSExtensionActivationSupportsWebPageWithMaxCount</key>
				<integer>100</integer>
				<key>NSExtensionActivationSupportsWebURLWithMaxCount</key>
				<integer>100</integer>
			</dict>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.ui-services</string>
	</dict>
	<key>NaverAPI</key>
	<dict>
		<key>Translator</key>
		<dict>
			<key>ClientID</key>
			<string>wUTBiotl4oVtbKRQMugI</string>
			<key>ClientSecret</key>
			<string>j0xS22P7uh</string>
		</dict>
	</dict>
</dict>
</plist>
