<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Talk-Translator</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>TEXT</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>talktrans</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>talktrans</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaof1c4e306b4e9103968bbb5cd4bd550f1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>21</string>
	<key>GoogleADUnitID</key>
	<dict>
		<key>BottomBanner</key>
		<string>ca-app-pub-9684378399371172/9513798848</string>
		<key>FullAd</key>
		<string>ca-app-pub-9684378399371172/1814946844</string>
		<key>RewardAd</key>
		<string>ca-app-pub-9684378399371172/7656598281</string>
		<key>TopBanner</key>
		<string>ca-app-pub-9684378399371172/8037065649</string>
	</dict>
	<key>Itunes App Id</key>
	<string>1186147362</string>
	<key>KAKAO_APP_KEY</key>
	<string>f1c4e306b4e9103968bbb5cd4bd550f1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaotalk-5.9.7</string>
		<string>kakaof1c4e306b4e9103968bbb5cd4bd550f1</string>
		<string>kakaolink</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowArbitraryLoadsForMedia</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>For Speech Recognition</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>For Speech Recognition</string>
	<key>UILaunchStoryboardName</key>
	<string> </string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
